<table class="table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Bot Status</th>
    <th>Last Seen</th>
    <th>Job</th>
    <th>Temps</th>
    <th>Status</th>
    <th>Elapsed</th>
    <th>ETA</th>
    <th class="span4" colspan="2">Progress</th>
  </tr>
  </thead>
  <tbody>
  <% _.each(collection, function (bot) { %>
  <tr>
    <td class="min-width"><a href="<%= bot.url %>"><%= bot.name %></a></td>
    <td class="min-width">
      <div class="btn-group bot_status_button" style="white-space:nowrap">
        <a id="bot_status_button_<%= bot.id %>"
           class="btn btn-mini btn-bot-status btn-<%= bot.status_class %> dropdown-toggle"
           data-toggle="dropdown" href="#">
          <span id="bot_status_txt<%= bot.id %>"><%= bot.status %></span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <% _.each(bot.menu, function (item) { %>
          <li><a href="<%= item.url %>"><i class="<%= item.icon %>"></i> <%= item.text %></a>
          </li>
          <% }) %>
        </ul>
      </div>
    </td>
    <td class="min-width muted"><%= bot.last_seen %></td>
    <% if (typeof(bot.job) !== "undefined") { %>
    <td style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis"><a href="<%= bot.job.url %>"><%= bot.job.name %></a></td>
    <% if (bot.status == 'working') { %>
    <td class="min-width">
      <% if (typeof(bot.temp_extruder) !== "undefined") { %>
      E: <%= bot.temp_extruder %>C
      <% } %>
      <% if (typeof(bot.temp_bed) !== "undefined") { %>
      B: <%= bot.temp_bed %>C
      <% } %>
      <% if (typeof(bot.temp_extruder) === "undefined" && typeof(bot.temp_bed) === "undefined") { %>
      n/a
      <% } %>
    </td>
    <% } else { %>
    <td class="min-width muted">n/a</td>
    <% } %>
    <td class="min-width"><span class="label <%= bot.job.status_class %>"><%= bot.job.status %></span></td>
    <td class="min-width muted" style="white-space: nowrap"><%= bot.job.elapsed %></td>
    <td class="min-width muted" style="white-space: nowrap"><%= bot.job.estimated %></td>
    <td class="span2">
      <% if (typeof(bot.job.qa_url) !== "undefined") { %>
      <div class="manage-job pull-right">
        <a class="btn btn-success btn-mini" href="<%= bot.job.qa_url %>/pass">PASS</a>
        <a class="btn btn-primary btn-mini" href="<%= bot.job.qa_url %>">VIEW</a>
        <a class="btn btn-danger btn-mini" href="<%= bot.job.qa_url %>/fail">FAIL</a>
      </div>
      <% } else { %>
      <div class="progress progress-striped active">
        <div class="bar <%= bot.job.bar_class %>"
             style="width: <%= bot.job.progress %>%"></div>
      </div>
      <% } %>
    </td>
    <td class="min-width muted">
      <% if(typeof(bot.job.progress) !== "undefined") { %>
      <%= bot.job.progress %>%
      <% } else { %>
      100%
      <% } %>
    </td>
    <% } else if (bot.status == 'error') { %>
    <td colspan="7" class="muted"><span class="text-error"><%= bot.error_text %></span></td>
    <% } else { %>
    <td colspan="7" class="muted">&nbsp;</td>
    <% } %>
  </tr>
  <% }) %>
  </tbody>
</table>
